@import '../../variables.scss';
@import "~bulma/sass/utilities/mixins";

.schedule {
  &__top-row {
    display: flex;
    flex-flow: column;
  }

  &__heading {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 1 0 auto;
  }


  // high specificity to match bulma's specificity
  &__name,
  &__name:not(:last-child) {
    margin-right: .5rem;
    margin-bottom: .5rem;
  }

  &__text {
    margin-bottom: .5rem;
    // hard to read past this width
    max-width: 500px;
  }
}

@include desktop {
  .schedule__heading {
    flex-flow: row wrap;
  }
}
