@import '../../variables.scss';
@import "~bulma/sass/utilities/mixins";

.schedule {
  &__heading {
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
  }

  &__title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 1 0 auto;
  }


  &__title__heading,
  // to match bulma's specificity
  &__title__heading:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

@include desktop {
  .schedule__heading {
    flex-flow: row wrap;
  }
}
