.send-invite__root {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  margin-bottom: .5rem;

  // gap if they wrap
  > * {
    margin-bottom: .5rem;
  }
}

.send-invite__dropdown {
  margin-right: .5rem;
}
