.team-details__root .button {
  margin-right: .5rem;
}

.team-details__section {
  margin-bottom: 1.5rem;

  h1.title, h2.title {
    margin-bottom: 0.3rem;
  }
}

.team-details__multiline {
  white-space: pre-line;
}

.team-details-leave__root {
  display: flex;
}

.team-details-leave__label {
  flex: 1 0 auto;
}
