.invites__invite__root {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: -.5rem;

  // gap in case they wrap
  > * {
    margin-top: .5rem;
  }

  // gap between buttons and text
  button, p {
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

.invites__invite__left {
  flex: 1 0 auto;
}

.invites__invite__right {
  flex: 0 0 auto;
}
