@import "../../variables.scss";


.navbar-logo {
  &__img {
    height: 40px;
    float: left;

    #logo1, #logo2, #logo3 {
      fill: $primary;
    }
  }

  &__title, &__dropdown {
    margin-left: 1rem;
    float: left;
  }

  &__dropdown {
    .dropdown-trigger {
      .button, .button:focus {
        padding: 0;
        height: 40px;
        border: none;
        box-shadow: none;

        svg {
          margin-top: 6px;
        }
      }
    }
  }
}
