@import "./variables.scss";
@import "~bulma";

body {
  background: #ececec;
  min-height: 100vh;
  // add a bit of chin to the bottom of website
  // removes the awkward elements touching the bottom
  padding-bottom: 20px;
  // remove the wiggle (horizontal scroll) content overflow causes
  overflow-x: hidden;
}

@include touch {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

// don't want super long inputs
.control {
  max-width: 400px;
}

// also no super long weird looking message/notification
.message, .notification {
  max-width: 500px;
}
