@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$primary: #ffc300;
$primary-invert: $grey-darker;

$tablet: 600px;

@import "~bulma/sass/utilities/derived-variables";
