@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$primary: #ffc300;
$primary-invert: $grey-darker;
$green-invert: $grey-darker;

$tablet: 600px;
$desktop: 900px;

$widescreen-enabled: false;
$fullhd-enabled: false;

@import "~bulma/sass/utilities/derived-variables";
