@import "../../variables.scss";
@import "~bulma/sass/utilities/mixins";

$navbar-background-color: $white !default;

.navbar__root {
  background: $navbar-background-color;
  box-shadow: 0px 1px 10px 0px $grey-lighter;
  margin-bottom: 20px;
}

.navbar__container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.navbar__brand, .navbar__nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navbar__brand {
  padding: 10px 0;
}

.navbar__logo {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navbar__user {
  flex: 0 0 auto;
}

.navbar__nav {
  display: flex;

  &.navbar__nav__admin {
    border-top: 1px solid $grey-lighter;
  }
}

.navbar__item {
  color: $dark;
}

@include tablet {
  .navbar__nav {
    flex-flow: row nowrap;
    align-items: center;
    border-top: 1px solid $grey-lighter;

    &.navbar__nav__admin {
      border-top: 1px solid $grey-lighter;
    }
  }

  .navbar__item {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    line-height: 3em;
    text-align: center;
    border-bottom: 5px solid $white;

    &.active {
      border-bottom: 5px solid $primary;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

@include mobile {
  .navbar__nav {
    flex-flow: column nowrap;
    align-items: stretch;
    display: none;
    padding-bottom: .5em;

    &.is-active {
      display: flex;
    }
  }

  .navbar__item {
    display: block;
    line-height: 1.5;
    padding: .5rem;
  }
}
