.navbar-logo__img {
  height: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-logo__title {
  padding-left: 1rem;
}

.navbar-logo__dropdown {
  padding-left: 1rem;

  .dropdown-trigger {
    .button, .button:focus {
      padding-left: 0;

      border: none;
      box-shadow: none;

      svg {
        margin-top: 6px;
      }
    }
  }
}
