.navbar-logo__img {
  height: 3.5rem;
  vertical-align: bottom;
}

.navbar-logo__title {
  padding-left: 1rem;
}

.navbar-logo__dropdown {
  padding-left: 1rem;

  .dropdown-trigger {
    .button, .button:focus {
      padding-left: 0;

      border: none;
      box-shadow: none;

      svg {
        margin-top: .3rem;
      }
    }
  }
}
